<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Clone Viewer"
            id="rcf-viewer.commands.category">
      </category>
      <command
            name="view RCF Data"
            categoryId="rcf-viewer.commands.category"
            id="rcf-viewer.commands.viewRcfCommand">
      </command>
      <command
            categoryId="rcf-viewer.commands.category"
            id="rcf-viewer.commands.showDiffExampleCommand"
            name="Show　Diff Example">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="rcf-viewer.commands.viewRcfCommand"
            class="rcfviewer.handlers.RcfFileLoader">
      </handler>
      <handler
            commandId="rcf-viewer.commands.showDiffExampleCommand"
            class="rcfviewer.handlers.ShowDiffExample">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="rcf-viewer.commands.viewRcfCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="rcf-viewer.commands.showDiffExampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Clone"
               mnemonic="C"
               id="rcf-viewer.menus.cloneManagementMenu">
            <command
                  commandId="rcf-viewer.commands.viewRcfCommand"
                  mnemonic="V"
                  id="rcf-viewer.menus.viewRcfCommand">
            </command>
            <command
                  commandId="rcf-viewer.commands.showDiffExampleCommand"
                  id="rcf-viewer.menus.showDiffExampleCommand"
                  mnemonic="V">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="rcf-viewer.toolbars.cloneToolbar">
            <command
                  commandId="rcf-viewer.commands.viewRcfCommand"
                  icon="icons/sample.gif"
                  tooltip="View RCF data"
                  id="rcf-viewer.toolbars.viewRcfCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
	<extension
         point="org.eclipse.ui.views">
      <category
            name="Clone"
            id="clone">
      </category>
      <view
            name="Clone Pair List"
            icon="icons/sample.gif"
            category="clone"
            class="rcfviewer.views.ClonePairView"
            id="rcfviewer.views.ClonePairView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="rcfviewer.views.ClonePairView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Clone Pair File Viewer"
            extensions="clonepair"
            icon="icons/sample.gif"
            class="rcfviewer.editors.FilePairViewer"
            id="rcfviewer.editors.FilePairViewer">
      </editor>
   </extension>   
</plugin>
